Meta
doc
.Renviron
.Rproj.user
.Rhistory
.RData
.Ruserdata
AMR.Rproj
tests/testthat/Rplots.pdf
inst/doc
/src/*.o
/src/*.o-*
/src/*.d
/src/*.so
_noinclude
*.dll
vignettes/*.R
.DS_Store
.Rprofile
^CRAN-RELEASE$
packrat/lib*/
packrat/src/
cran-comments.md
data-raw/taxon.tab
data-raw/DSMZ_bactnames.xlsx
