Meta
doc
.Renviron
.Rproj.user
.Rhistory
.RData
.Ruserdata
AMR.Rproj
tests/testthat/Rplots.pdf
inst/doc
/src/*.o
/src/*.o-*
/src/*.d
/src/*.so
_noinclude
*.dll
vignettes/*.R
.DS_Store
.Rprofile
^CRAN-RELEASE$
packrat/lib*/
packrat/src/
data-raw/taxa.txt
data-raw/taxon.tab
data-raw/DSMZ_bactnames.xlsx
data-raw/country_analysis_url_token.R
