/*
# ==================================================================== #
# TITLE                                                                #
# AMR: An R Package for Working with Antimicrobial Resistance Data     #
#                                                                      #
# SOURCE                                                               #
# https://github.com/msberends/AMR                                     #
#                                                                      #
# CITE AS                                                              #
# Berends MS, Luz CF, Friedrich AW, Sinha BNM, Albers CJ, Glasner C    #
# (2022). AMR: An R Package for Working with Antimicrobial Resistance  #
# Data. Journal of Statistical Software, 104(3), 1-31.                 #
# doi:10.18637/jss.v104.i03                                            #
#                                                                      #
# Developed at the University of Groningen and the University Medical  #
# Center Groningen in The Netherlands, in collaboration with many      #
# colleagues from around the world, see our website.                   # 
#                                                                      #
# This R package is free software; you can freely use and distribute   #
# it for both personal and commercial purposes under the terms of the  #
# GNU General Public License version 2.0 (GNU GPL-2), as published by  #
# the Free Software Foundation.                                        #
# We created this package for both routine data analysis and academic  #
# research and it was publicly released in the hope that it will be    #
# useful, but it comes WITHOUT ANY WARRANTY OR LIABILITY.              #
#                                                                      #
# Visit our website for the full manual and a complete tutorial about  #
# how to conduct AMR data analysis: https://msberends.github.io/AMR/   #
# ==================================================================== #
*/

/* fix some footer issues with the logos */
@media (min-width: 576px) {
  footer .pkgdown-footer-right {
    width: 300px;
  }
}
@media (max-width: 575.98px) {
  footer .pkgdown-footer-right {
    text-align: center;
  }
}

/* replace 'Developers' with 'Maintainers' */
.developers h2 {
  display: none;
}
.developers:before {
  content: 'Maintainers';
}

/* marked words for after using the search box */
mark, .mark {
  background: rgba(17, 143, 118, 0.25) !important;
}


/* SYNTAX */
/* These are simple changes for the syntax highlighting */

pre code {
  /* never wrap code on smaller screens */
  word-wrap: normal !important;
  white-space: pre !important;
  font-size: 0.8em !important;
}
.ot, .dv, .fl, .cn, .at,
.op a {
  /* numbers, TRUE/FALSE and operators */
  color: var(--bs-dark) !important;
}
pre .fu, .fu {
  /* functions */
  color: var(--bs-primary) !important;
  font-weight: bold !important;
  letter-spacing: -1px !important;
}
pre .st, .st {
  /* strings, regular text */
  color: #60a799 !important;
}
pre .co, .co {
  /* comments */
  color: #999999 !important;
  font-style: italic !important;
}
pre code .r-out,
pre code .r-msg {
  /* output of functions */
  color: #555555 !important;
}
code a[href],
a[href] code,
pre a[href],
a code[href],
a pre[href] {
  /* adjusted colour for all real links; having href attribute */
  color: var(--bs-success);
  text-decoration: none;
}
a[href] {
  text-decoration: none;
}
code a[href]:hover, code a[href]:focus,
a[href] code:hover, a[href] code:focus,
pre a[href]:hover, pre a[href]:focus,
a code[href]:hover, a code[href]:focus,
a pre[href]:hover, a pre[href]:focus,
a[href]:hover, a[href]:focus {
  /* adjusted colour for all real links; having href attribute */
  text-decoration: underline;
}
